.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
}

.card__description {
  margin: 0;
  padding: 25px 20px;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  color: #000000;
  border-radius: 0 0 10px 10px;
}

.card__like-button {
  background: transparent url(../images/Like.svg) center no-repeat;
  width: 21px;
  height: 18px;
  align-items: center;
  justify-content: space-between;
  color: #000000;
  border: none;
}
.card__like-button_active {
  background-image: url(../images/Like-active.svg);
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.card__title {
  margin: 0;
  max-width: 220px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__delete-button {
  position: absolute;
  top: 18px;
  right: 15px;
  background: transparent url(../images/Trash.svg) center no-repeat;
  width: 18px;
  height: 19.3px;
  color: #fff;
  border: none;
}

.card__delete-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
.card__delete-button_active {
  border-image: url(../images/Trash_active.svg);
}
