.footer__description {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  color: #545454;
  padding-top: 67px;
  padding-bottom: 60px;
}

@media screen and (max-width: 320px) {
  .footer__description {
    padding: 0;
    margin: 48px auto 19px;
    max-width: 282px;
    font-family: "Inter", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
  }
}
