.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 0s, 0.5s linear;
}

.modal_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.modal__container {
  margin: 0;
  padding: 0;
  position: relative;
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
}

.modal__close {
  border: none;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background: transparent url(../images/Close.svg) no-repeat center;
  background-size: contain;
  transform: rotate(90deg);
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__heading {
  margin: 34px 36px 36px;
  width: 330px;
  height: 23px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  color: #000000;
}

.modal__form-trashcan {
  margin: 0;
  padding: 0;
  position: relative;
  width: 430px;
  height: 181px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.modal__form-input {
  margin: 0;
  padding: 0;
  width: 358px;
  height: 27.26px;
  margin-left: 36px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  color: #000000;
  border: 0;
  border-bottom: 1px solid #d3d3d3;
  position: relative;
  z-index: 1;
}

.modal__description {
  margin-top: 30px;
}

.modal__button {
  margin: 0;
  padding: 0;
  width: 358px;
  height: 50.15px;
  margin-top: 48px;
  margin-left: 36px;
  margin-bottom: 36.51px;
  background-color: #000;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  cursor: pointer;
}

.modal__button-trash {
  margin-bottom: 72px;
}

.modal__button:hover {
  opacity: 0.8;
}

.modal__button_disabled {
  opacity: 0.7;
  pointer-events: none;
}

.modal .modal__image {
  width: 433px;
  height: 540px;
}

.modal__input {
  position: relative;
}

.modal__input_type_error {
  border-color: red;
}

.modal__input-error_active {
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: center;
  color: red;
  opacity: 1;
  max-width: 100%;
  /* word-wrap: break-word; */
  display: block;
  position: absolute;
  margin-left: 36px;
  margin-top: 5px;
}

.modal__response {
  width: 358px;
  height: 50px;
  top: 365px;
  left: 461px;
  border-radius: 2px 0px 0px 0px;
  opacity: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  background: #ffffff;
}

@media screen and (max-width: 620px) {
  .modal {
    top: -140px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    top: -50px;
    left: 250px;
  }

  .modal__heading {
    margin: 25px 22px 75px;
    font-size: 18px;
  }

  .modal__container {
    width: 282px;
    height: 322px;
  }

  .modal__button {
    width: 238px;
    height: 46px;
    margin: 45px 22px 25px;
    font-size: 14px;
    line-height: 16.94px;
  }

  .modal__image {
    max-width: 75vw;
    max-height: 75vh;
  }

  .modal__form-input {
    margin-left: 22px;
    width: 238px;
    height: 26px;
  }
}
