@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/card.css);
@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
    justify-content: center;
  }
  .profile__info {
    width: 100%;
  }
  .profile__description {
    text-align: center;
  }
  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  .page__section {
    margin: 0 20px;
    max-width: calc(100%-40px);
  }
}
